* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40%;
  border: 3px solid white;
  border-radius: 50px;
}
.navbar {
  display: flex;
}
.nav_list {
  width: 50%;
  /* background-color: black; */
  display: flex;
  align-items: center;
}
.not_work_li {
  list-style: none;
  padding: 26px 30px;
}
.not_work_li_a {
  text-decoration: none;
  color: white;
}
.nav-list li a:hover {
  text-decoration: none;
  color: gray;
}
.rightNav {
  /* background-color: blueviolet; */
  width: 50%;
  text-align: right;
}
#search {
  padding: 5px;
  font-size: 17px;
  border: 2px solid grey;
  border-radius: 9px;
}

.background {
  background: rgba(0, 0, 0, 0.7) url("../image/bg,jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
